<ion-header>
  <ion-navbar color='primary'>
    <ion-title>voICe</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content class="has-footer" >
    <ion-list no-lines *ngFor="let words of messages">
      <ion-item *ngIf ="words.user !== 'App'" item-right text-wrap>
        <p item-right style="color:#F5821F">{{words.text}}</p>
        <ion-avatar item-right >
          <img src="img/user.png">
        </ion-avatar>
      </ion-item>
      <ion-item *ngIf ="words.user === 'App'" item-left text-wrap>
        <ion-avatar item-left>
          <img src="img/bot.png">
        </ion-avatar>
        <p style="color:#F5821F">{{words.text}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-fab (click) = "SpeechToText()" [disabled]="isRecognizing">
          <ion-icon name="mic"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 *ngIf = "isLoggedIn === true">
        <ion-input type="text" [(ngModel)]="texting" placeholder="Enter a message"></ion-input>
      </ion-col>
      <ion-col col-2 *ngIf = "isLoggedIn === true">
        <button ion-fab color = "primary" (click)="Send(texting)">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
